<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Recomendador de Películas IA</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Recomendador de películas por IA</h1>

            <form method="post" action="/recomendar">
                <label for="titulo">Escribe el título de una película</label><br>
                <input type="text" id="titulo" name="titulo" autocomplete="off" required><br>

                <div id="resultados-busqueda"></div>

                <input type="hidden" id="movie_id" name="movie_id">

                <label for="top_n">Número de recomendaciones:</label>
                <input type="number" id="top_n" name="top_n" min="1" max="10" value="5">

                <button type="submit" id="submit-btn" disabled>Recomendar</button>
            </form>
        </div>


        <script>
            const inputTitulo = document.getElementById("titulo");
            const resultadosDiv = document.getElementById("resultados-busqueda");
            const movieIdInput = document.getElementById("movie_id");
            const submitBtn = document.getElementById("submit-btn")

            let timeout = null;

            inputTitulo.addEventListener("input", () => {
                clearTimeout(timeout);
                const query = inputTitulo.value.trim();
                resultadosDiv.innerHTML = "";
                movieIdInput.value = "";
                submitBtn.disabled = true;

                if (query.length <3) return;

                timeout = setTimeout(() => {
                    fetch(`/buscar_pelicula?titulo=${encodeURIComponent(query)}`)
                    .then(res => res.json())
                    .then(data => {
                        resultadosDiv.innerHTML = "";
                        data.forEach(p => {
                            const div = document.createElement("div");
                            div.className = "resultado-item";
                            div.innerHTML = `
                                <img src="${p.poster}" alt="Poster" width="60">
                                <div class="info">
                                    <strong>${p.titulo}</strong> (${p.anio})
                                </div>
                            `;
                            div.addEventListener("click", () => {
                                inputTitulo.value = `${p.titulo} (${p.anio})`;
                                movieIdInput.value = p.id;
                                resultadosDiv.innerHTML = "";
                                submitBtn.disabled = false;
                            });
                            resultadosDiv.appendChild(div);
                        });
                    });
                }, 300);
            });
        </script>

    </body>
</html>