<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Recomendador de Películas IA</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Recomendador de películas por IA</h1>
            <form method="post" action="/recomendar">
                <label for="titulo">Título de la película</label><br>
                <input type="text" id="titulo" name="titulo" required><br>

                <label for="top_n">Número de recomendaciones:</label>
                <input type="number" id="top_n" name="top_n" min="1" max="10" value="5">

                <button type="submit">Recomendar</button>
            </form>
        </div>
    </body>
</html>