<!DOCTYPE html>
<html lang=""es>

<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Recomendaciones para "{{ titulo }}"</h1>

        {% if recomendaciones %}
        <ul>
            {% for titulo_rec, id_rec, score in recomendaciones %}
                <li>
                    <strong>{{ titulo_rec }}</strong> (ID: {{ id_rec }}) - Similitud: {{ score }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron recomendaciones para ese título.</p>
        {% endif %}
        <a href="/">Volver</a>       
    </div>
</body>
</html>